<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Neucha&display=swap" rel="stylesheet">
  <link rel="styleSheet" typle="text/css" href="<%= url("/styleSheet.css") %>">
</head>

<body>

  <h1>Your request has been confirmed</h1>

</body>

</html>
