<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Neucha&display=swap" rel="stylesheet">
  <link rel="styleSheet" typle="text/css" href="<%= url("/styleSheet.css") %>">
</head>

<body>

  <h1>Your request has been confirmed</h1>

  <img src="/thumbs_up_dino.jpg">

  <form action="/spaces" method="get">
    <button class="button" type="submit" name="OK">OK</button>
  </form>

</body>

</html>
