<html>

<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css?family=Neucha&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="<%= url("/stylesheet.css") %>">
  <style>
    body {
      background-image: url("jeff.jpg");
    }
  </style>
</head>

<body>

<h2>List your property</h2>

<form class="property" action="/new-space" method="post">
  <label for="property_name">Property Name</label>
  <input type="text" name="property_name"><br>
  <label for="description">Description</label>
  <input type="text" name="description"><br>
  <label for="price_per_night">Price per night £</label>
  <input type="text" name="price_per_night"><br>
  <label for="available_from">Available from</label>
  <input type="text" name="available_from"><br>
  <label for="available_to">Available to</label>
  <input type="text" name="available_to"><br>
  <input class="button" type='submit' name="Submit"></input>
</form>

<form id="back" action="/spaces" method="get">
  <button class="button" name="Back">Back</button>
</form>

<img src="http://2.bp.blogspot.com/-3eHVYcEjcyk/U5cbI_55QrI/AAAAAAAACZg/lXSuy6Oe_pE/s1600/IMG_2338.JPG" height='300' width='540'>

</body>

</html>
