List your property

<form>
  <label for="property name">Property Name</label>
  <input type="text" name="Property Name"><br>
  <label for="property description">Description</label>
  <input type="text" name="Description"><br>
  <label for="price per night">Price per night £</label>
  <input data-type="currency" name="Price per night"><br>
  <label for="available from">Available from</label>
  <input type="date" name="Available from"><br>
  <label for="available to">Available to</label>
  <input type="date" name="Avaiable to"><br>
</form>
