Welcome to Dinosaur BNB!
<br><br><br>
<img src="https://66.media.tumblr.com/840461f0dfd2998e24ad30486432c80b/tumblr_natxuxOyvD1qkhw3no1_250.gif">
<br><br><br>
<form action="/signup">
  <button>Sign up for an account</button>
</form>

<form action="/login">
  <button>Already got an account? Log in!</button>
</form>
