Welcome to Dinosaur BNB!

<form action="/create">
  <button>Create new listing</button>
</form>

<form action="/signup">
  <button>Sign up for an account</button>
</form>

<form action="/login">
  <button>Already got an account? Log in!</button>
</form>
