<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Neucha&display=swap" rel="stylesheet">
  <link rel="styleSheet" typle="text/css" href="<%= url("/styleSheet.css") %>">
</head>

<body>

  <h1>Welcome to Dinosaur BNB!</h1>

  <iframe src="alan.wav" allow="autoplay" style="display:none" id="audio"></iframe>

  <audio controls autoplay>
    <source src="/alan.wav" type="audio/wav">
  </audio>
  
  <br><br><br>
  <img src="https://66.media.tumblr.com/840461f0dfd2998e24ad30486432c80b/tumblr_natxuxOyvD1qkhw3no1_250.gif">
  <br><br><br>
  <form action="/signup">
    <button class="button">Sign up for an account</button>
  </form>

  <form action="/login">
    <button id="button" class="button">Already got an account? Log in!</button>
  </form>
</body>

</html>
