<h1> Fill in the form to log in... </h1>
<form method='post' action='/login'>
  <label for='username'>Username:</label>
  <input type='text' name='username' placeholder='e.g: JohnSmith' required/>
  <br>
  <label for='password'>Password:</label>
  <input type='password' name='password' placeholder='e.g: backseatfreestyle' required/>
  <br>
  <br>
  <input type='submit' name='submit' value='submit' />
</form>
